<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  </head>
  <body>

  <div id="Text-in-middle">
    <h2>the sky was cloudless and of a deep dark blue</h2>
    <h2>which revealed the highest heavens and the silvery</h2>
    <h2>lustre of the Milky Way</h2>
  </div>

  </body>
</html>
